/* Portfolio */
/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons__item:not(:first-child) {
  margin-left: 8px;
}

/* buttons secondary */
.buttons-secondary {
  color: $title-text-color;
  background-color: $third-bg-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;

  transition: background-color 250ms $timing-function, color 250ms $timing-function,
    box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    font-family: inherit;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
