/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $backdrop-background;

  opacity: 1;
  transition: opacity 250ms $timing-function;
  overflow-y: scroll;

  padding: 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  display: block;
  position: relative;

  background-color: $primary-white-color;
  box-shadow: $card-shadow;
  border-radius: 4px;

  transition: transform 250ms $timing-function;

  @media screen and (min-width: 480px) {
    transform: translate(-50%, -50%) scale(1);

    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;

    width: 100% max-width 450px;
    height: 610px;
  }
}

.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $modal-border-color;
    outline: none;
  }
}

.submit {
  text-align: center;
}
