.auth-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    // align-items: center;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.auth-nav__item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.auth-nav__link {
  display: flex;
  // justify-content: center;
  align-items: center;
  // padding-top: 32px;
  // padding-bottom: 32px;
  margin-left: auto;

  color: $primary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms $timing-function;

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.auth-nav__link.mailto {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 134px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.auth-nav__link.telto {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 194px;
    color: $accent-color;
    font-size: 34px;
    line-height: 1.17;
  }
}

.auth-nav__icon {
  margin-right: 10px;

  fill: $primary-text-color;
  @media screen and (max-width: 767px) {
    display: none;
  }

  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: $accent-color;
  }
}
