/* Header */
.page-header {
  border-bottom: 1px solid $header-border-color;
  display: block;
  position: relative;
}

// .page-header__item {
//   display: flex;
//   justify-content: space-between;
// }

.main-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &.is-open .menu-button__cross {
    display: none;
  }

  &.is-open .menu-button__menu {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__menu {
  display: none;
}

.menu-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    height: 400px;
    background-color: lemonchiffon;
    padding: 20px;
    text-align: center;
    font-size: 20px;

    &.is-open {
      display: block;
    }
  }
}

// .site-nav,
// .auth-nav {
//   width: 40px;
//   height: 50px;
// }

// .site-nav {
//   outline: 1px solid tomato;
// }

// .auth-nav {
//   outline: 1px solid green;
// }
